/* Font utilisé*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*Style par défaut*/
* {
    font-family: "Manrope", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}


a, a:visited, a:hover, a:active {
  text-decoration: none;
}

*figure {
  user-select: none;
}

*img {
  user-select: none;
}

/*Style de la page d'accueil*/
body {
    background-color: #921515;
}

.TitleCheese {
    font-size: 3.5rem;
    color: #c22828;
}